<div class="contacts">
    <a class="contacts__social-link" href="">
        <svg class="contacts__social-svg telegram">
            <use href="./images/sprite.svg#telegram-icon"></use>
        </svg>
    </a>
    <a class="contacts__social-link" href="">
        <svg class="contacts__social-svg vk">
            <use href="./images/sprite.svg#vk-icon"></use>
        </svg>
    </a>
    <a class="contacts__email-link" href="">
        <svg class="contacts__email-svg email">
            <use href="./images/sprite.svg#email-icon"></use>
        </svg>
        DamaskKnife@yandex.ru
    </a>
</div>