<footer class="footer">
    <div class="container footer__content">
        <div class="footer__info">
            <!--=include menu.html -->
            <div class="footer__communication">
                <!--=include contacts.html -->
                <div class="footer__location">
                    <svg class="footer__location-svg">
                        <use href="./images/sprite.svg#location-icon"></use>
                    </svg>
                    <p class="footer__location-text">
                        г.Липецк, Липецкая обл., РФ
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__rights">
            © Ножевая мастерская Александра Трусова, 2023
        </div>
    </div>
</footer>