<header class="header">
    <div class="container header__content">
        <a class="header__logo-link" href="#">
            <img class="header__logo" src="./images/sprite.svg#logо" alt="В начало страницы">
        </a>

        <!--=include menu.html -->
        <div class="header__right-inner">
            <div class="header__search">
                <input class="header__search-input" type="text" placeholder="Поиск по каталогу">
            </div>
            <!--=include contacts.html -->
        </div>
    </div>
</header>