<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" data-router="main-link" href="#">Главная</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" data-router="catalog-link" href="#">Каталог</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" data-router="about-link" href="#">Обо мне</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" data-router="delivery-link" href="#">Доставка</a>
        </li>
    </ul>
</nav>